.inputs-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;

  &.soldered {
    gap: 0;

    & > *:first-child {
      max-width: 40%;
      min-width: 40%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      & > * {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    & > *:last-child {
      max-width: 60%;
      min-width: 60%;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      & > * {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}