@use '/styles/variables';
@use '/styles/media';

.select {
  padding: 20px;
  width: 100%;

  &__control {
    border: 1px solid variables.$black;
    padding: 10px;
    width: 100%;
    border-radius: 12px;

    @include media.deskS{ 
      border-radius: 8px;
    }


    &.open {
      .select__dropdown-indicator {
        transform: rotate(-180deg);
      }
    }
  }

  &__input, &__single-value, &__placeholder, &__menu-list {
    font-weight: 500;
    font-size: 13.45px;
    line-height: 20px;
    letter-spacing: -2%;
    cursor: pointer;

    @include media.deskS{ 
      font-size: 9.56px;
      line-height: 14px;
    }
  }

  &__input, &__single-value, &__placeholder {
    cursor: pointer;
  }

  &__dropdown-indicator {
    transition: .2s variables.$transition-type !important;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
      fill: variables.$grey;

      @include media.deskS{ 
        width: 12px;
        height: 12px;
      }
    }
  }

  &__menu {
    background-color: variables.$white;
    border: 1px solid variables.$grey;
    border-radius: 12px;
    width: fit-content;
    margin-top: 5px;
    overflow: hidden;

    @include media.deskS{ 
      border-radius: 8px;
    }

  }

  &__menu-list {
    padding: 0;
    overflow: hidden;
  }

  &__option {
    width: 100%;
    padding: 10px 10px;
    transition: .1s variables.$transition-type;
    &:not(.selected) {
      &:hover {
        background-color: variables.$grey;
        cursor: pointer;
      }
    }
    &.selected {
      background-color: variables.$black;
      color: variables.$white;
    }
  }

  &-primary {
    .select__control {
      background-color: variables.$black;
      color: variables.$white;
    }
  }
}