@use '/styles/media';
@use '/styles/typography';
@use '/styles/variables';

.catalog {
  padding-top: 155px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 45px;
    line-height: 30px;
    padding-bottom: 45px;

    @include media.mobM {
      font-size: 45px;
      line-height: 45px;
      padding-bottom: 35px;
    }
  }

  &__filters {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 100px;

    @include media.mobM {
      gap: 20px;
    }
    @include media.mobS {
      flex-wrap: wrap;
    }
  }

  &__cardList {
    margin-bottom: 200px;
    &-cards {
      display: flex;
      gap: 48px 28px;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-card-row {
      display: flex;
      gap: 48px 28px;
      justify-content: center;
    }
    &-empty {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 28px;
      align-items: center;
      justify-content: center;
      p {
        @include typography.P4;
        color: variables.$grey;
      }
    
    }
  }

}