@use '/styles/media';
@use '/styles/variables';
@use '/styles/typography';

.product-detail-card {
	display: flex;
	gap: 55px;
	width: 100%;
	height: 636px;
	opacity: 1;
	border-radius: 24px;
	background-color: variables.$whiteFA;
	padding: 38px;
	box-shadow: 12.49px 12.49px 43.42px 0px #0000001F;
	gap: 96px;
	margin-bottom: 100px;

	@include media.deskS {
		height: 452.46px;
		padding: 26px;
		border-radius: 18px;
	}
	@include media.tabM {
		gap: 56px;
		height: auto;
	}
	@include media.mobM {
		width: 310px;
		flex-direction: column;
		padding: 15px;
		width: fit-content;
		gap: 20px;

	}

	&__image {
		min-width: 560px;
		min-height: 560px;
		max-width: 560px;
		max-height: 560px;
		border-radius: 24px;
		background-color: variables.$grey;

		@include media.deskS {
			min-width: 400px;
			min-height: 400px;
			max-width: 400px;
			max-height: 400px;
			border-radius: 18px;
		}
		@include media.tabM {
			min-width: 250px;
			min-height: 250px;
			max-width: 250px;
			max-height: 250px;
		}
		@include media.mobM {
			min-width: 279.37px;
			min-height: 245.69px;
			max-width: 279.37px;
			max-height: 245.69px;
		}
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;

		@include media.deskS {
			width: 336.96px;
		}
		@include media.tabM {
			width: 100%;
		}

		&-description {
			@include typography.P2;
			color: variables.$grey88B2;
			font-weight: 400;
			margin-bottom: 70px;

			@include media.deskS {
				margin-bottom: 50px;
			}
			@include media.tabM {
				margin-bottom: 35px;
			}
		}

	}
	&__users {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		padding-right: 8px;
		margin-bottom: 64px;	

		@include media.deskS {
			gap: 10px;
			margin-bottom: 45px;
		}
		@include media.tabM {
			margin-bottom: 30px;
			gap: 10px;
			justify-content: space-between;
		}
		@include media.mobM {
			gap: 40px;
			justify-content: start;
			margin-bottom: 42px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 51.04px;
		line-height: 31.82px;
		margin-bottom: 30px;
		color: variables.$blackFaded;
		letter-spacing: 0;

		@include media.deskS {
			font-size: 30px;
			line-height: 22.63px;
			margin-bottom: 20px;
		}
		@include media.mobM {
			font-size: 15.64px;
			line-height: 22.59px;
			margin-bottom: 6px;
			text-align: start;
		}
	}
	

	.button {
		@include typography.H4;
		color: variables.$white;
		background-color: variables.$black;

		@include media.deskS {

		}
	}
}