@use 'styles/media';
.weekly-top {
  background: #F1F1F1;
  padding: 70px 0 90px 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include media.breakpoint-down('deskS') {
    padding: 50px 0 64px 0;
    gap: 67px;
  }
  @include media.breakpoint-down('mobM') {
    gap: 63px;
    padding: 57px 0 53px 0;
  }

  .swiper {
    width: 100%;
    overflow: visible;
    &-slide {
      width: fit-content;
    }
  }

  .slider {
    width: 780px;

    &__buttons {
      margin-top: 10px;
      @include media.breakpoint-down('deskS') {
        margin-top: 25px;
      }
      @include media.breakpoint-down('mobM') {
        margin-top: 7px;
      }
    }
  }

  h2 {
    color: #C5C5C5;
    line-height: 26.92px;
    @include media.breakpoint-down('deskS') {
      line-height: 19.14px;
    }
    @include media.breakpoint-down('mobM') {
      line-height: 26.92px;
    }
  }
}