@use '/styles/variables';
@use '/styles/media';

$input-transition-delay: 0.2s;

.input {
  width: 100%;
  font-weight: 500;
  font-size: 13.45px;
  line-height: 20px;
  letter-spacing: -2%;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  transition: color $input-transition-delay variables.$transition-type;

  @include media.deskS{ 
    font-size: 9.56px;
    line-height: 14px;
  }

  &__container {
    position: relative;
    border: 1.5px solid variables.$black;
    padding: 10px;
    transition: $input-transition-delay variables.$transition-type;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 12px;
    cursor: text;

    &.button-input {
      background: transparent;
      padding: 18px 30px;
      height: 100%;
      transition: $input-transition-delay variables.$transition-type;
      width: 100%;
      border-width: 2.35px;
      border-radius: 14.09px;
      
      @include media.deskS{
        border-radius: 10.02px;
      }
  
      .input__placeholder {
        position: absolute;
        top: 0;
        left: 30px; 
        width: 100%;
        height: 100%;
        white-space: pre;
        font-family: Poppins, sans-serif;
        color: variables.$black;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        font-weight: 400;
        position: absolute;
        top: -20px;
        left: 9px;
        width: fit-content;
        height: fit-content;
        white-space: pre;
        transition: $input-transition-delay variables.$transition-type;
        transform: translateY(100%);


        &.animation-up {
          transform: translateY(0);
          visibility: visible;
        }
      }

      &-primary .input,
      &-outline .input,
      &-primary .button-input-container__value,
      &-outline .button-input-container__value {
        font-family: 'Poppins', sans-serif;
        font-size: 16.27px;
        font-weight: 500;
        line-height: 24.41px;
        letter-spacing: 0.01em;
  
        @include media.deskS {
          font-size: 11.57px;
          font-weight: 500;
          line-height: 17.36px;
          letter-spacing: 0.01em;
        }
        @include media.tabM {
          font-size: 11.66px;
          font-weight: 500;
          line-height: 17.49px;
          letter-spacing: 0.01em;
        }
      }
  
      &-primary {
        background: variables.$black;
        color: variables.$white;
       
          &:hover {
            background: variables.$black1Hover;
            .input {
              color: variables.$grey8;
            }
            &::placeholder {
              color: variables.$grey8;
            }
          }
          &:active {
            background: variables.$black1Active;
          }
          &.input-focused {
            background: variables.$black1Active;

            .input {
              color: variables.$white;
              &::placeholder {
                color: variables.$white;
              }
            }
          }
    
          &.color-reverse {
            background: variables.$white;
            color: variables.$black;
    
            &:hover {
              background: variables.$whiteHover;
            }
            &:active {
              background: variables.$whiteActive;
            }
            &.input-focused {
              background: variables.$whiteActive;
            }
          }
          .input {
            color: variables.$white;
            &::placeholder {
              color: variables.$white;
            }
          }
      }
  
      &-outline { 
        color: variables.$black;

        &:hover {
          background: variables.$blackHover;
          .input {
            color: variables.$grey8;
          }
          .input__icon {
            fill: variables.$grey8;
          }
          .input {
            &::placeholder {
              color: variables.$grey8;
            }
          }
        }
        &.input-focused {
          background: variables.$blackActive;
          .input {
            color: variables.$white;
          }
          .input__icon {
            fill: variables.$white;
          }

          .input {
            &::placeholder {
              color: variables.$white;
            }
          }
        }

        .input {
          &::placeholder {
            color: variables.$black;
            .input {
              color: variables.$black;
            }
          }
        }

        &.color-reverse {
          border-color: variables.$white;
          color: variables.$white;
  
          &:hover {
            background: variables.$white;
            color: variables.$black;
          }
          &:active {
            background: variables.$whiteActive;
            color: variables.$black;
          }
          &.input-focused {
            background: variables.$whiteActive;
            color: variables.$black;
          }
        }
      }
    
    } 
  }

  &__icon {
    transition: $input-transition-delay variables.$transition-type;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__placeholder{
    position: absolute;
    top: 0;
    left: 30px;
    visibility: hidden;
    width: 100%;
    height: 100%;
  }
  
}

.button-input {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .button-input-container__value {
     visibility: hidden;
    }
  } 
}