$transition-type: cubic-bezier(0.65, 0.05, 0.36, 1);

$white: #FFFFFF;
$whiteHover: #dadada;
$whiteActive: #efefef;
$whiteFA: #FAFAFA;

$black: #000000;
$blackHover: #1c1c1c;
$blackActive: #151515;
$black1: #141416;
$black1Hover: #25252b;
$black1Active: #1a1a1e;
$blackFaded: #292B39;

$grey: #9C9C9C;
$grey8: #808080;
$grey88B2: #888888B2;
$grey8D: #8D8D8D;
