@use '@/styles/media';

.header {
  padding-top: 45px;
  padding-bottom: 15px;

  @include media.breakpoint-down('deskS') {
    padding-top: 32px;
    padding-bottom: 10px;
  }
  @include media.breakpoint-down('tabM') {
    padding-bottom: 0;
  }


  .container {
    width: 1251px;
    height: 58px;
    display: flex;
    padding: 0;
    position: relative;
    @include media.breakpoint-down('deskS') {
      height: 41.24px;
      width: 889.68px;
    }
    @include media.breakpoint-down('tabM'){
      width: 100%;
      height: fit-content;
      padding-inline: 66px;
    }
    @include media.breakpoint-down('mobM') {
      width: 100%;
      padding: 0;
      padding-inline: 28px 30px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    @include media.breakpoint-down('tabM'){
      padding-bottom: 30px;
      border-bottom: 0.5px solid #CBCBCB;
    }
  }
  &__logo {
    width: 53px;
    height: 53px;

    @include media.breakpoint-down('deskS') {
      width: 37.69px;
      height: 37.69px;
    }
    @include media.breakpoint-down('tabM') {
      width: 141.46px;
      height: 46.41px;
    }

    img {
      width: inherit;
      height: inherit;
    }
  }

  &__left, &__right {
    display: flex;
    align-items: center;
  }
  &__left {
    gap: 57px;

    @include media.breakpoint-down('deskS') {
      gap: 40px;
    }
  }
  &__right {
    gap: 30px;

    @include media.breakpoint-down('deskS') {
      gap: 20px;
    }

    .search {
      @include media.breakpoint-down('tabM') {
        display: none;
      }
    }
    .button-primary {
      @include media.breakpoint-down('tabM') {
        display: none;
      }
    }
  }

  nav ul {
    display: flex;
    gap: 53px;

    @include media.breakpoint-down('deskS') {
      gap: 38px;
    }
    @include media.breakpoint-down('tabM') {
      display: none;
    }

    li a {
      color: #606060;
      text-transform: uppercase;
      font-size: 17.83px;
      font-weight: 500;
      line-height: 26.74px;
      text-align: left;

      @include media.breakpoint-down('deskS') {
        font-size: 12.68px;
        font-weight: 500;
        line-height: 19.02px;

      }
    }
  }

  button {
    font-family: 'Inter', sans-serif;
    font-size: 16.17px;
    font-weight: 600;
    line-height: 24.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-inline: 24px;
    border-radius: 16.17px;

    @include media.breakpoint-down('deskS') {
      padding: 12px 18px;
      border-radius: 12px;
      font-size: 11.5px;
      font-weight: 600;
      line-height: 17.25px;
    }
  }

}

